<div class="colorOptions">
Color Theme<br><br>
<span><%= link_to 'Black', home_black_path %></span>
<span><%= link_to 'Graphite', home_graphite_path %></span>
<span><%= link_to 'White', root_path %></span>

<br><br><br>
<input type="checkbox" id="hoursToggle" name="hoursToggle1" value="True"> 24-Hour Clock
<div>


