<footer class="footer" style="background-color: #1C2833; width:100%">
<div class="footer" >
<ul>
<li>Clock+</li>
<li>Name - Divyanshu Chand </li>
<li>Email - s3767456@student.rmit.edu.au</li>
<li>Highest Level attempted - </li>
<li>Tutor Group - Friday 06:30pm </li>
</ul>
</div>
<div class="socialIcons" >
<a href="https://www.facebook.com/facebook" class="fa fa-facebook"></a>
<a href="https://twitter.com/explore" class="fa fa-twitter"></a>
<a href="https://au.linkedin.com/" class="fa fa-linkedin"></a>
</div>
</footer>