<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #1C2833">
    <div class="container">
        <%= link_to "Clock+", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Showcase", root_path %></li>
                <li><%= mail_to "s3767456@student.rmit.edu.au","Contact Us" %><li>
            </ul>
        </nav>
    </div>
     
</header>
<section class="heading">
    <div style="border 1px solid red">
    <h1> Clock+ </h1>
    <p> Clock+ built by Divyanshu Chand - s3767456@student.rmit.edu.au - Distinction Level - Friday 6:30pm </p>
    </div>
</section>