<div class="modeIndex">
<ul>
<li><i class="fas fa-circle" Style="color:green"></i> Business time </li>
<li><i class="fas fa-circle" Style="color:yellow"></i> Business overtime </li>
<li><i class="fas fa-circle" Style="color:pink"></i> Personal time </li>
<li><i class="fas fa-moon" style="border:none"></i> Sleeping time </li>
</ul>
</div>